:root {
  --primary-color-font: #742d00;
  --secondary-color-font: #a03e00;

  --primary-background-color: #1a8226;
  --secondary-background-color: #ffffff;
  --tertiary-background-color: #afe2a8;
  --quatertiary-background-color: #639c65;
}
